@use '@angular/material' as mat;

th {
  font-size: 18px;
  padding: 16px 20px;
}
td {
  font-size: 20px;
  padding: 16px 20px;
}

button {
  margin: 0 10px;
}

.mat-column-name {
  padding: 0 16px;
  border-right: 1px solid currentColor;
  width: 150px;
  text-align: center;
}

.mat-column-_id {
  padding: 0 16px;
  border-right: 1px solid currentColor;
  width: 100px;
  text-align: center;
}

.mat-column-actions {
  padding: 0 16px;
  text-align: center;
}

.loading {
  padding: 40px;
  background-color: rgba(0,0,0,0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}


.delete-button {
  @include mat.fab-overrides((
    small-foreground-color: var(--mat-sys-on-primary),
    small-container-color: var(--mat-sys-tertiary),
  ));
}
